{% extends "index.html" %}

{% block content %}

<div class="wrapper";>
    <div class="inner">
        <form id="auth-form" action="/register" method="POST">
            <h3>Registration Form</h3>
            
            <!-- Display error messages -->
            {% if error %}
            <div class="alert alert-danger">
                {{ error }}
            </div>
            {% endif %}
            
            <div class="form-group">
                <input type="text" name="nom" placeholder="First Name" class="form-control" required>
                <input type="text" name="prenom" placeholder="Last Name" class="form-control" required>
            </div>
            <div class="form-wrapper">
                <input type="text" name="username" placeholder="Username" class="form-control" required>
                <i class="zmdi zmdi-account"></i>
            </div>
            <div class="form-wrapper">
                <input type="text" name="email" placeholder="Email Address" class="form-control" required>
                <i class="zmdi zmdi-email"></i>
            </div>
            <div class="form-wrapper">
                <select name="genre" class="form-control" required>
                    <option value="" disabled selected>Gender</option>
                    <option value="male">Male</option>
                    <option value="female">Female</option>
                </select>
            </div>
            <div class="form-wrapper" required>
                <input type="text" name="password" placeholder="Password" class="form-control">
                <i class="zmdi zmdi-lock"></i>
            </div>
            <p>If you already have an account<a href="/login"> log in here!</a></p>
            <button type="submit" class="btn btn-dark">Register</button>
        </form>
    </div>
</div>

{% endblock %}